.tag {
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-md);
    font-size: var(--text-xs);
    font-family: var(--font-body);
    color: var(--color-text-primary);
}

.tag--green {
    color: var(--color-tag-green-text);
    background-color: color-mix(in srgb, var(--color-tag-green) 50%, transparent);
    border: var(--color-tag-green) 1px solid;
}

.tag--blue {
    color: var(--color-tag-blue-text);
    background-color: color-mix(in srgb, var(--color-tag-blue) 50%, transparent);
    border: var(--color-tag-blue) 1px solid;
}

.tag--purple {
    color: var(--color-tag-purple-text);
    background-color: color-mix(in srgb, var(--color-tag-purple) 50%, transparent);
    border: var(--color-tag-purple) 1px solid;
}

.tag--orange {
    color: var(--color-tag-orange-text);
    background-color: color-mix(in srgb, var(--color-tag-orange) 50%, transparent);
    border: var(--color-tag-orange) 1px solid;
}

.tag--pink {
    color: var(--color-tag-pink-text);
    background-color: color-mix(in srgb, var(--color-tag-pink) 50%, transparent);
    border: var(--color-tag-pink) 1px solid;
}